@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.home {
  position: relative;
  height: 100vh;
}
.upcard {
  position: relative;
  width: 100%;
}
.neeche {
  right: 2px;
  top: 16px;
}

.sidebar ul {
  list-style-type: none;
}
.sidebar {
  background-color: #1e2741;
  height: 120vh;
  width: 15vw;
  position: relative;
}
.sidebar ul li {
  display: flex;
  flex-direction: row;
  padding: 4px 4px;
}
.sidebar img {
  width: 35px;
  height: 35px;
}
.sidebar ul li {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 0.9 rem;
}
.sidebar ul li h3 {
  margin-left: 16px;
}
.downContainer {
  position: absolute;
  bottom: 12px;
  background-color: #2b375c;

  border-radius: 8px;
  width: 85%;
}
.downCard {
  background-color: #7484b3;
  color: white;
  opacity: 1;
  height: 32px;
  width: 32px;
  margin-right: 8px;
  border-radius: 8px;
}
.searchBar {
  background-color: rgb(255, 255, 255);
  width: 84%;
  height: 32px;
  top: 0px;
  left: 15.5%;
  border-bottom: 2px solid rgb(245, 244, 244);
  outline: none;
}
.searchBar input {
  width: 400px;
  padding: 8px 8px;
  border-radius: 8px;
}
.searchBar input[placeholder-shown] {
  margin-left: 10px;
}
.download {
  padding: 0 2px;
}
.overview {
  top: 9%;
}
.cards {
  top: 20%;
  left: 16%;
}
.transaction {
  top: 45%;
  left: 16%;
  margin-left: 10px;
  padding: 8px 8px;
}
.button {
  top: 50%;
  left: 16%;
  margin-left: 10px;
  padding: 8px 8px;
}
.pay,
.ref {
  border-radius: 16px;
  padding: 0 2px;
}
.payment {
  left: 16%;
  top: 60%;
}
